/*Color Theme*/
$light: #f6f6f9;
$primary: #1976D2;
$light-primary: #CFE8FF;
$grey: #eee;
$dark-grey: #AAAAAA;
$dark: #363949;
$danger: #D32F2F;
$light-danger: #FECDD3;
$warning: #FBC02D;
$light-warning: #FFF2C6;
$success: #388E3C;
$light-success: #BBF7D0;

//body theme dark light mode
$body-light: #181a1e;
$body-grey: #25252c;
$body-dark: #fbfbfb;

//Button  Color & font
$GreenCyan: #4ec9b0;
$Cyan: #9cdcfe;
$Smoke: #d4d4d4;
$BlurGreen: #b5cea8;
$BlurYellow: #dcdcaa;
$white: #fff;
//Font Type
$fontConsolas: "Consolas", "Courier New", monospace;
