/*Color Theme*/
$light: #f6f6f9;
$primary: #1976D2;
$light-primary: #CFE8FF;
$grey: #eee;
$dark-grey: #AAAAAA;
$dark: #363949;
$danger: #D32F2F;
$light-danger: #FECDD3;
$warning: #FBC02D;
$light-warning: #FFF2C6;
$success: #388E3C;
$light-success: #BBF7D0;

//body theme dark light mode
$body-light: #181a1e;
$body-grey: #25252c;
$body-dark: #fbfbfb;

//Button  Color & font
$greenCyan: #4ec9b0;
$Cyan: #9cdcfe;
$Smoke: #d4d4d4;
$BlurGreen: #b5cea8;
$BlurYellow: #dcdcaa;
$white: #fff;
//Font Type
$fontConsolas: "Consolas", "Courier New", monospace;
$box-shadow-strong: 0 6px 20px rgba(17, 24, 39, 0.15);

// Font-weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
// Font size
$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
$text-2xl: 1.5rem; // 24px
$text-3xl: 1.875rem; // 30px
$text-4xl: 2.25rem; // 36px
$text-5xl: 3rem; // 48px