/*Color Theme*/
$light: #f6f6f9;
$primary: #1976D2;
$light-primary: #CFE8FF;
$grey: #eee;
$dark-grey: #AAAAAA;
$dark: #363949;
$danger: #D32F2F;
$light-danger: #FECDD3;
$warning: #FBC02D;
$light-warning: #FFF2C6;
$success: #388E3C;
$light-success: #BBF7D0;

//body theme dark light mode
$body-light: #181a1e;
$body-grey: #25252c;
$body-dark: #fbfbfb;

//Button  Color & font
$greenCyan: #4ec9b0;
$Cyan: #9cdcfe;
$Smoke: #d4d4d4;
$BlurGreen: #b5cea8;
$BlurYellow: #dcdcaa;
$white: #fff;
//Table Product
$primary-Aquamarine: #4fd1c5;
$primary-Darkblue: #00113d;
$secondary: #a7f3d0;
$primary-RosePink: #ff416c;
//Font Type
$fontConsolas: "Consolas", "Courier New", monospace;
//Box Shadow
$box-shadow-soft: 0 4px 12px rgba(17, 24, 39, 0.1);
$box-shadow-strong: 0 6px 20px rgba(17, 24, 39, 0.15);

// Font-weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
// Font size
$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-lg: 1.125rem; // 18px
$text-xl: 1.25rem; // 20px
$text-2xl: 1.5rem; // 24px
$text-3xl: 1.875rem; // 30px
$text-4xl: 2.25rem; // 36px
$text-5xl: 3rem; // 48px
// Margin
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;
$m-6: 1.5rem;
$m-7: 1.75rem;
$m-8: 2rem;
$m-9: 2.25rem;
$m-10: 2.5rem;
// Padding
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$p-9: 2.25rem;
$p-10: 2.5rem;