.content {
    nav {
        height: 56px;
        background: $light;
        padding: 0 24px 0 0;
        display: flex;
        align-items: center;
        grid-gap: 24px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;


        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -40px;
            left: 0;
            border-radius: 50%;
            box-shadow: -20px -20px 0 $light;
        }

        a {
            color: $dark;
        }

        .bx.bx-menu {
            cursor: pointer;
            color: $dark;
        }

        form {
            max-width: 400px;
            width: 100%;
            margin-right: auto;

            .form-input {
                display: flex;
                align-items: center;
                height: 36px;

                input {
                    flex-grow: 1;
                    padding: 0 16px;
                    height: 100%;
                    border: none;
                    background: $grey;
                    border-radius: 36px 0 0 36px;
                    outline: none;
                    width: 100%;
                    color: $dark;
                }

                button {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary;
                    color: $light;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-radius: 0 36px 36px 0;
                    cursor: pointer;
                }
            }
        }

        .notif {
            font-size: 20px;
            position: relative;

            .count {
                position: absolute;
                top: -6px;
                right: -6px;
                width: 20px;
                height: 20px;
                background: $danger;
                border-radius: 50%;
                color: $light;
                border: 2px solid $light;
                font-weight: 700;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .profile img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
        }

        .theme-toggle {
            display: block;
            min-width: 50px;
            height: 25px;
            background: $grey;
            cursor: pointer;
            position: relative;
            border-radius: 25px;

            &::before {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                bottom: 2px;
                width: calc(25px - 4px);
                background: $primary;
                border-radius: 50%;
                transition: all 0.3s ease;
            }
        }

        #theme-toggle:checked+.theme-toggle::before {
            left: calc(100% - (25px - 4px) - 2px);
        }
    }

    main {
        width: 100%;
        padding: 36px 24px;
        max-height: calc(100vh - 56px);

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-gap: 16px;
            flex-wrap: wrap;

            .left {
                h1 {
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    color: $dark;
                }

                .breadcrumb {
                    display: flex;
                    align-items: center;
                    grid-gap: 16px;

                    li {
                        color: $dark;

                        a {
                            color: $dark-grey;
                            pointer-events: none;

                            &.active {
                                color: $primary;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .report {
                height: 36px;
                padding: 0 16px;
                border-radius: 36px;
                background: $primary;
                color: $light;
                display: flex;
                align-items: center;
                justify-content: center;
                grid-gap: 10px;
                font-weight: 500;
            }
        }

        .insights {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-gap: 24px;
            margin-top: 36px;

            li {
                padding: 24px;
                background: $light;
                border-radius: 20px;
                display: flex;
                align-items: center;
                grid-gap: 24px;
                cursor: pointer;

                .bx {
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                    font-size: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:nth-child(1) .bx {
                    background: $light-primary;
                    color: $primary;
                }

                &:nth-child(2) .bx {
                    background: $light-warning;
                    color: $warning;
                }

                &:nth-child(3) .bx {
                    background: $light-success;
                    color: $success
                }

                &:nth-child(4) .bx {
                    background: $light-danger;
                    color: $danger;
                }

                .info {
                    h3 {
                        font-size: 24px;
                        font-weight: 600;
                        color: $dark;
                    }

                    p {
                        color: $dark;
                    }
                }
            }
        }

        .bottom-data {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 24px;
            margin-top: 24px;
            width: 100%;
            color: $dark;

            >div {
                border-radius: 20px;
                background: $light;
                padding: 24px;
                overflow-x: auto;
            }

            .header {
                display: flex;
                align-items: center;
                grid-gap: 16px;
                margin-bottom: 24px;

                h3 {
                    margin-right: auto;
                    font-size: 24px;
                    font-weight: 600;
                }

                .bx {
                    cursor: pointer;
                }
            }
            .orders {
                flex-grow: 1;
                flex-basis: 500px;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    th {
                        padding-bottom: 12px;
                        font-size: 13px;
                        text-align: left;
                        border-bottom: 1px solid $grey;
                    }

                    td {
                        padding: 16px 0;
                    }

                    tr td:first-child {
                        display: flex;
                        align-items: center;
                        grid-gap: 12px;
                        padding-left: 6px;
                    }

                    td img {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    tbody tr {
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background: $grey;
                        }
                    }

                    tr td .status {
                        font-size: 10px;
                        padding: 6px 16px;
                        color: $light;
                        border-radius: 20px;
                        font-weight: 700;

                        &.completed {
                            background: var(--success);
                        }

                        &.process {
                            background: $primary;
                        }

                        &.pending {
                            background: var(--warning);
                        }
                    }
                }
            }
            .reminders {
                flex-grow: 1;
                flex-basis: 300px;

                .task-list {
                    width: 100%;

                    li {
                        width: 100%;
                        margin-bottom: 16px;
                        background: $grey;
                        padding: 14px 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .task-title {
                            display: flex;
                            align-items: center;

                            p {
                                margin-left: 6px;
                            }
                        }

                        .bx {
                            cursor: pointer;
                        }

                        &.completed {
                            border-left: 10px solid $success;
                        }

                        &.not-completed {
                            border-left: 10px solid $danger;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
       
        }
    }

    @media screen and (max-width: 768px) {
        .content {
            width: calc(100% - 60px);
            left: 200px;
        }
    }

    @media screen and (max-width: 576px) {

        .content nav form .form-input input {
            display: none;
        }

        .content nav form .form-input button {
            width: auto;
            height: auto;
            background: transparent;
            color: var(--dark);
            border-radius: none;
        }

        .content nav form.show .form-input input {
            display: block;
            width: 100%;
        }

        .content nav form.show .form-input button {
            width: 36px;
            height: 100%;
            color: var(--light);
            background: var(--danger);
            border-radius: 0 36px 36px 0;
        }

        .content nav form.show~.notif,
        .content nav form.show~.profile {
            display: none;
        }

        .content main .insights {
            grid-template-columns: 1fr;
        }

        .content main .bottom-data .header {
            min-width: 340px;
        }

        .content main .bottom-data .orders table {
            min-width: 340px;
        }

        .content main .bottom-data .reminders .task-list {
            min-width: 340px;
        }

    }
}