/* BACK TO TOP */
.BackToTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: $primary-Darkblue;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  border-radius: 20px;

  text-align: center;

  position: fixed;
  right: 15px;
  bottom: 80px;

  font-size: $text-lg;
  color: $secondary;
  transition: all 0.2s;

  opacity: 0;

  &:hover {
    background-color: $primary-Green;
    color: $primary-crimson;
    text-decoration: none;
  }
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 0.8;
}

.PhoneTop {
  width: 270px;
  height: 40px;
  line-height: 40px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  border-radius: 8px;

  text-align: center;

  position: fixed;
  right: 60px;
  bottom: 15px;

  font-size: $text-lg;
  background-color: red;
  color: $secondary;

  &:hover {
    background-color: $primary-Darkblue;
    color: $secondary;
    text-decoration: none;
  }
}

.PhoneTop-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  border: 1px solid red;
  border-radius: 50%;

  text-align: center;

  position: fixed;
  right: 15px;
  bottom: 5px;

  font-size: $text-2xl;
  background-color: $secondary;
  color: red;
  animation: vibrate 0.3s infinite;

  &:hover {
    backgrounvibrated-color: $secondary;
    text-decoration: none;
  }
}

@media (max-width: 1024px) {
  .BackToTop,
  .PhoneTop,
  .PhoneTop-icon {
    font-size: $text-base;
  }

  .BackToTop {
    bottom: 60px;
  }

  .PhoneTop {
    width: 200px;
    height: 30px;
    line-height: 30px;

    right: 55px;
  }

  .PhoneTop-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}