* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    @media (max-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@keyframes ScaleBigSmall {

    0%,
    100% {
        transform: scale(0.95);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0.9;
    }
}
.img-animate {
    animation: ScaleBigSmall 4s ease-in-out infinite;
}

@keyframes vibrate {
  0.50%, 90% {
   -webkit-transform: translate3d(-0.5px, 0, 0);
   transform: translate3d(-0.5px, 0, 0);
 }

0.50%, 80% {
  -webkit-transform: translate3d(0.5px, 0, 0);
  transform: translate3d(0.5px, 0, 0);
}

30%, 50%, 70% {
  -webkit-transform: translate3d(-0.5px, 0, 0);
  transform: translate3d(-0.5px, 0, 0);
}

0.50%, 60% {
  -webkit-transform: translate3d(0.5px, 0, 0);
  transform: translate3d(0.5px, 0, 0);
}
}